<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.junlabs.music</string>
	<key>ProgramArguments</key>
	<array>
		<string>GOPATH=`pwd`</string>
		<string>PORT=8080</string>
		<string>go</string>
		<string>run</string>
		<string>main.go</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Users/jstauter/Applications/music.junlabs.com</string>
</dict>
</plist>
